// Make sure the charset is set appropriately
// @charset "UTF-8";

$fi-path: "/fonts";

// TODO: Figure out how to use Webpack relative imports (i.e. ~).
@import './custom_settings';
@import 'foundation';

// Global styles
@include foundation-global-styles;
// @include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
@include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
// @include foundation-close-button;
// @include foundation-label;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
// @include foundation-table;
// Basic components
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-dropdown;
// @include foundation-pagination;
// @include foundation-tooltip;

// Containers
// @include foundation-accordion;
// @include foundation-media-object;
// @include foundation-orbit;
// @include foundation-responsive-embed;
// @include foundation-tabs;
// @include foundation-thumbnail;
// Menu-based containers
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-accordion-menu;
// @include foundation-drilldown-menu;
// @include foundation-dropdown-menu;

// Layout components
// @include foundation-off-canvas;
// @include foundation-reveal;
// @include foundation-sticky;
// @include foundation-title-bar;
// @include foundation-top-bar;

// Helpers
// @include foundation-float-classes;
// @include foundation-flex-classes;
// @include foundation-visibility-classes;
// @include foundation-prototype-classes;

// @import "foundation-icons";

// TODO: Generate the syntax styling dynamically.
// Currently not supported:
// https://github.com/middleman/middleman-syntax/issues/67
@import 'syntax';

h1, h2, h3,
h4, h5, h6,
p, li, a {
  font-weight: lighter;
}

article {
  a {
    text-decoration: underline;
    color: lighten($primary-color, 20%);
    &:hover {
      text-decoration: underline;
    }
  }
}

#footer {
  padding: 20px 0 50px;
  background-color: #222;
  color: white;
  h1, h2, h3,
  h4, h5, h6 {
    font-weight: lighter;
    border-bottom: 1px solid white;
  }
  a {
    color: lighten($primary-color, 40%);
    &:hover {
      text-decoration: underline;
    }
  }
  h1, h2, h3,
  h4, h5, h6,
  p, span{
    color: white;
  }
  ul {
    margin-left: 0;
    list-style: none;
  }
  .tag-group {
    margin-bottom: 0;
    &.last {
      margin-bottom: 1.25rem;
    }
  }
}

.share {
  margin-bottom: 15px;
  iframe[id^="twitter-"]{
    margin-bottom: -6px;
  }
}

.image-wrapper {
  width: 50%;
  float: left;
  padding: 20px 25px 20px 0;
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  blockquote {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
    border: none;
    font-size: 0.75rem;
    font-style: italic;
    text-align: left;
  }
}

pre {
  padding-top: rem-calc(1);
  border: solid 1px #ddd;
  border-radius: 3px;
  box-shadow: -1px 1px 2px #ccc inset;
  background: #fff;
  padding: 1rem 1rem;
  margin-bottom: 30px;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

#header, #container{
  padding: 10px 0;
}

#header{
  border-bottom: 2px solid $primary-color;

  h1{
    a{
      display: inline-block;
      line-height: 1;
      color: black;
      &:hover{
        color: $primary-color;
        text-decoration: none;
        border-bottom: 1px solid $primary-color;
        margin-bottom: rem-calc(-1px);
      }
    }
  }

  h2{
    font-size: rem-calc(16px);
    margin-top: -$header-margin-bottom;
    text-indent: 0.1rem;
    color: $secondary-color, 10%;
    @media #{$medium-up}{
      text-indent: 0.2rem;
    }
  }

  .avatar{
    box-shadow: 1px 1px 3px gray;
    width: 90px;
  }
}

ul.social{
  list-style: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  li{
    margin-left: 0;
    margin-right: rem-calc(20px);
    i{
      color: $secondary-color;
      &:hover{
        color: lighten($secondary-color, 15%);
      }
      &:before{
        font-size: 55px;
        line-height: 60px;
      }
    }
  }
}

#container{ }

h1.article-title {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  + .share-container {
    margin-bottom: 0.5rem;
  }
  &:before {
    background-color: #333;
    height: 3px;
    display: inline-block;
    position: absolute;
    top: 2.75rem;
    width: 20px;
    content: '\00a0';
  }
}

#filters{
  ul{
    list-style-type: square;
  }
}

@media #{$medium-only} {
  #footer {
    ul {
      > li {
        font-size: 0.8rem;
      }
    }
  }
}

@media #{$medium-up} {
  h1.article-title {
    position: relative;

    + .share-container {
      margin-bottom: 1rem;
    }

    &:before {
      height: 5px;
      top: 3.35rem;
      width: 25px;
    }
  }
  #header, #container{
    padding: 20px 0;
  }
  .avatar{
    float: right;
  }
  ul.social{
    float: right;
    li{
      margin-right: 0;
      margin-left: rem-calc(10px);
      i:before{
        font-size: 31px;
        line-height: 24px;
      }
    }
  }
}

// Force icons on to two rows
// at smallest widths
@media (max-width: 320px) {
  ul.social {
    width: 100%;
    li {
      margin: 0;
      width: percentage(1/3);
    }
  }
  .image-wrapper {
    width: 100%;
  }
}
